<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShoppingList's</title>
</head>
<body>

<!--<form action="/new" method="get">-->
<!--    <input type="submit" value="Add new">-->
<!--</form>-->

<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>№</th>-->
<!--        <th>Shopping List's</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:if="${shopList.empty}">-->
<!--        <td>-->
<!--            List is empty-->
<!--        </td>-->
<!--    </tr>-->
<!--    <tr th:each="item : ${shopList}">-->
<!--        <th>-->
<!--        <td><span th:text="${item.getId()}"> Number</span></td>-->
<!--        <td><span th:text="${item.getText()}"> List </span></td>-->
<!--        </th>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<p>Shopping List <a href="/list">Here</a></p>
</body>
</html>